
body{
  background-color: #7e533b;
}

.mainContainer{
  padding-top: 4px;
  background-color: #6c9b64;
  margin-left: 300px;
  width: 600px;
  height: 800px;
}

.koreanTitle{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 6vmin;
  display: flex;
  padding-top: 30px;
  padding-left: 80px;
  display: inline-flex;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  width: 300px;
  font-size: 7vmin;
  padding-left: 10px;
  background-color: white;
  line-height: 1;
  margin: 20px;
}




#Letter1 {
margin-top: 0px;
margin-left: 250px;
}

#Letter2 {

  margin-left: 200px;
}

#Letter3 {

  margin-left: 150px;
}

#Letter4{

  margin-left: 100px;
}

#Letter5 {

  margin-left: 50px;
  background-color: #1b1b19;
  color: white
}

#Letter6 {
  margin-left: 100px;
  background-color: #1b1b19;
  color: white
}

#Letter7 {
margin-left: 150px;
background-color: #1b1b19;
color: white
}

#Letter8 {
margin-left: 200px;
background-color: #1b1b19;
color: white
}

.filmTitle{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin-left: 400px;
  padding-right: 30px;
  font-size: 3vmin;
}
